<div class="conteiner">
  <main>
    <h1 class="title-card">hola mundo. somos el equipo1</h1>
  </main>
</div>

<style>
  .title-card {
    font-size: 30px!;
    font-style: italic;
    font-family:
      "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-shadow: 30px;
  }

  .conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 100%;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-items: center;
    text-align: center;
  }
  .title-card {
    font-family: "Bitcount Prop Double Ink", system-ui;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "CRSV" 0.5,
      "ELSH" 0,
      "ELXP" 0,
      "SZP1" 0,
      "SZP2" 0,
      "XPN1" 0,
      "XPN2" 0,
      "YPN1" 0,
      "YPN2" 0;
  }


</style>
