---
import Nav from '../components/Nav.astro';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Equipo 1 - Web Moderna</title>
  </head>
  <body>
    <Nav />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("/src/assets/Tumblr\ clouds.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  :global(body) {
    display: flex;
    flex-direction: column;
  }

  :global(*) {
    box-sizing: border-box;
  }
</style>
